// Color Palette
// af3833 red - Titles, error text.
// 53b176 green
// eba889 pale pink
// c9c8cc light grey
// 9ed4da light blue
// 70998e teal
// B0C4B1 Ash grey
// 474344 dark grey
// 262B2C blackish grey

// Text Colors
$title-color: #af3833;
$subtitle-color: #262b2c;
$light-text-grey: #474344;
$white-color: #f7f1f1;

// Highlight Colors
$diner-highlight-color: #fed687;

// Dark Colors, borders and outlines
$off-black-color: #262b2c;
$light-grey-color: #c9c8cc;

// Background Colors
$white-color: #ffffff;
$off-white-color: #eaeeed;

//Form Colors
$pale-blue-color: #9ed4da;
$button-blue-color: #5ba8b0;

// Meal stick colors
$mealcard-background-color: rgb(255, 242, 217);
$meal-title-color: #af3833;

// FONTS

$font-stack: Helvetica, sans-serif;
$title-font: "Nunito Sans", sans-serif;
$header-font: "pacifico", sans-serif;
$text-font: "Josefin Sans", sans-serif;

// MIXINS

// FORMS

@mixin form-style-template {
  background-color: $off-white-color;
  border: solid 0.5em $white-color;
  outline: solid $pale-blue-color;
  border-radius: 0.5em;
  padding: 0.5em;
}

@mixin form-title-style {
  font-family: $header-font;
  font-size: 5vw;
  color: $title-color;
  text-align: center;
  margin-bottom: 1em;
}

@mixin form-button-style {
  margin: 1em 1em 0em 1em;
  padding: 0.8em 1em;
  border-radius: 0.5em;
  color: $button-blue-color;
  background-color: $white-color;
}

@mixin backdrop-template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100dvh;
  width: 100vw;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
