$font-stack: Helvetica, sans-serif;
$title-font: "Nunito Sans", sans-serif;
$text-font: "Josefin Sans", sans-serif;
$main-color: #474344;
$main-background-color: #fff1f5;
$container-background-color: #eaeeed;
$title-color: #ce6272;
$button-background-color: #fee2e2;
$button-color: #eaeeed;
$mealcard-background-color: #fed687;
$lolly-stick-color: rgb(233, 211, 172);

$toolbar-background-color: #af5b73;
// #CE6272 raspberry
// #EAEEED pink/white
// #FED687 yellow
// #EEC0C3 pink
// #AF5B73 pink shadow
// #FFF1F5 background
