@use "../../../sass/base";

.randomDisplayContainer {
  background-color: base.$off-white-color;
  text-align: center;
  font-family: base.$text-font;
}

.randomMealName {
  margin: 1em;
  font-size: 4dvw;
  color: base.$light-text-grey;
}

.randomMealName.error {
  color: base.$title-color;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .randomDisplayContainer {
    text-align: center;
    font-family: base.$text-font;
  }

  .randomMealName {
    margin: 0.5em;
    font-size: 1.5vw;
  }
}
