@use "../../../base";

.randomDisplayContainer {
  background-color: base.$container-background-color;
  text-align: center;
  font-family: base.$text-font;
  color: base.$toolbar-background-color;
}

.randomMealName {
  margin: 1em;
}
