@use "../../../sass/base";

.randomDisplayContainer {
  background-color: base.$white-background-color;
  text-align: center;
  font-family: base.$text-font;
  color: base.$toolbar-background-color;
}

.randomMealName {
  margin: 1em;
  font-size: 4vw;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
  .randomDisplayContainer {
    text-align: center;
    font-family: base.$text-font;
    color: base.$toolbar-background-color;
  }

  .randomMealName {
    margin: 0.5em;
    font-size: 1.5vw;
  }
}
