@use "../../../sass/base";

.toolBarContainer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: base.$white-color;
  grid-row: 5;
  z-index: 9;
  border-top: solid 0.2em ;
  border-bottom: solid 0.1em black;
  padding: 0.5em 0em;
}

.toolBarActionButton {
  color: base.$pale-blue-color;
  background-color: base.$off-white-color;
  border: solid 0.14em base.$title-color;
  padding:0.4em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.toolBarIcon {
  width: 10dvw;
  animation: cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite pulse;
}

@media screen and (min-width: 1024px) {
  .toolBarContainer {
    height: 8dvh;
  }

  .toolBarIcon {
    width: 4dvw;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
