@use "../../../sass/base";

.header-container {
  grid-row: 1;
  display: flex;
  justify-content: center;
  width: 100dvw;
  height: 10dvh;
  background-color: base.$white-color;
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .header-container {
    justify-content: flex-start;
  }
}
