@use "../../../sass/base";

.headerContainer {
  display: flex;
  justify-content: center;
  width: 100dvw;
  background-color: base.$white-color;
border-radius: 0em 0em 1em 1em;;
}

@media screen and (min-width: 1024px) {
  .headerContainer {
    height: 10vh;
    justify-content: flex-start;
  }
}
