@use "../../../sass/base";

.toolBarButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: absolute;
  bottom: 10dvh;
  width: 100%;
}

.toolBarButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22vw;
  height: 22vw;
  margin: 1em;
  font-size: 3vw;
  font-family: base.$text-font;
  color: base.$light-text-grey;
  background-color: base.$white-color;
  border:solid 0.5em base.$pale-blue-color;
  border-radius: 5em;
  animation: slide-up 0.2s;
}

.toolButtonImage {
  width: 8dvw;
}

.toolButtonTopText {
  margin-bottom:0.2em;
}

.toolButtonBottomText {
  margin-top: 0.2em;
}

@media screen and (min-width: 768px) and (orientation: portrait){
  .toolBarButton {
    width: 18vw;
    height: 18vw;
    font-size: 2.5vw;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape){
  
.toolBarButtonsContainer {
  bottom: 12dvh;
}

.toolBarButtonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
  .toolBarButton {  
    width: 9vw;
    height: 9dvw;
    font-size: 1.4vw;
    border-radius: 50%;
  }

  .toolButtonImage {
    width: 3.5vw;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }
}
