@use "../../../base";

.toolBarButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 22vw;
  height: 22vw;
  margin: 1em;
  font-size: 3vw;
  font-family: base.$text-font;
  color: base.$mealcard-background-color;
  background-color: base.$toolbar-background-color;
  border-radius: 5em;
}

.toolButtonImage {
  width: 6vw;
}

.toolButtonTopText {
  margin-bottom: 0.5em;
}

.toolButtonBottomText {
  margin-top: 0.5em;
}

@media screen and (min-width: 768px) {
  .toolBarButton {
    width: 18vw;
    height: 18vw;
    margin: 1em;
    font-size: 2.5vw;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1023px) {
  .toolBarButton {
    width: 11vw;
    height: 11vw;
    margin: 1em;
    font-size: 1.5vw;
    border-radius: 50%;
  }

  .toolButtonImage {
    width: 3.5vw;
  }
}
