@use "../../../base";

.dinerSelectorContainer {
  background-color: base.$container-background-color;
  width: 100vw;
}

.dinerCheckBoxes {
  display: flex;
  overflow: scroll;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em 0em 1em 0em;
}

.dinerSelectorTitle {
  font-family: base.$title-font;
  text-align: left;
  margin-left: 1em;
  color: base.$toolbar-background-color;
  font-size: 4vw;
}

.titleStick {
  border-radius: 0.5em;
  margin-left: 1em;
  background-color: rgb(233, 211, 172);
  width: 80vw;
}

.plateCenterShape{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width:19Vw;
  min-height:19vw;
  border-radius: 3em;
  box-shadow: inset 0px 0px 5px 0px rgb(99, 98, 98);
  outline:solid wheat;
}
