@use "../../../base";

.updateDislikesBackDrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100dvh;
  width: 100vw;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.updateDislikesForm {
  background-color: base.$container-background-color;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  border: solid 0.5em base.$toolbar-background-color;
  outline: solid base.$mealcard-background-color;
  border-radius: 1em;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  animation: grow-appear 0.5s;
  width: 70dvw;
  height: 50dvh;
  z-index: 9;
}

  .dinerSelectorInput {
    border-radius: 1em;
    padding: 0.5em;
    font-size: 3vw;
  }

.mealsCheckBoxContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  padding: 1em 0em 1em 0em;
  margin: 1em 0em 1em 0em;
  font-family: base.$text-font;
}

.dinerSelectContainer {
  display: flex;
  justify-content: space-around;
  margin: 1em 0em 1em 0em;
  color: base.$title-color;
  font-family: base.$title-font;
}

.dislikeMealCheckbox {
  margin: 0.5em 0em 0.5em 0em;
  color: base.$toolbar-background-color;
  font-size: 4.5vw;
}

.dislikesFormButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dislikesFormButton {
  margin: 0em 1em 0em 1em;
  color: base.$mealcard-background-color;
  background-color: base.$toolbar-background-color;
}

.checkboxTitle {
  font-family: base.$title-font;
  font-size: 6vw;
  margin: 0.5em 0em 2em 0em;
  color: base.$title-color;
}

@keyframes grow-appear {
  0% {
    opacity: 0;
    scale: 0;
  }
}

@media screen and (min-width: 768px) {
  .dinerSelectContainer {
    font-size: 4vw;
  }

  .dinerSelectorInput {
    font-size: 3vw;
  }

  .dislikeMealCheckbox {
    font-size: 3vw;
  }

  .checkboxTitle {
    font-size: 4vw;
    margin-bottom: 1em;
  }

  .dislikesFormButton {
    width: 20vw;
    font-size: 3vw;
  }
}

@media screen and (min-width: 1023px) {

  .updateDislikesForm {
  width: 30dvw;
  height: 50dvh;
}

  .dinerSelectContainer {
    align-items: center;
    font-size: 1.5vw;
  }

  .dinerSelectorInput {
    font-size: 1vw;
  }

  .dislikeMealCheckbox {
    font-size: 1.5vw;
  }

  .checkboxTitle {
    font-size: 3vw;
    margin-bottom: 1em;
  }

  .dislikesFormButton {
    width: 10vw;
    font-size: 1vw;
  }
}
