@use "../../../sass/base";

.meal-preference-form-backdrop {
  @include base.backdrop-template;
}

.meal-preference-form {
  @include base.form-style-template;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 5fr 1fr;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  animation: grow-appear 0.5s;
  width: 70dvw;
  height: 50dvh;
  z-index: 9;
}

.meal-preference-form-title {
  @include base.form-title-style;
}

.diner-selector-input {
  border-radius: 0.5em;
  padding: 0.5em 0em;
  font-size: 4vw;
  text-align: center;
  font-family: base.$text-font;
  border: none;
}

.meals-checkbox-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: scroll;
  padding: 1em 0em 1em 0em;
  margin: 1em 0em 1em 0em;
  font-family: base.$text-font;
}

.diner-select-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0em 1em 0em;
  color: base.$title-color;
  font-family: base.$title-font;
}

.preference-meal-checkbox {
  margin: 0.5em 0em 0.5em 0em;
  color: base.$light-text-grey;
  font-size: 4.5vw;
}

.preference-meal-checkbox:first-child {
  margin-top: 0em;
}

.meal-preference-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.meal-preference-form-button {
  @include base.form-button-style;
}

.checkbox-title {
  font-family: base.$title-font;
  font-size: 6vw;
  margin: 0.5em 0em 2em 0em;
  color: base.$title-color;
}

@keyframes grow-appear {
  0% {
    opacity: 0;
    scale: 0;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  
  .meal-preference-form {
    width: 50dvw;
    height: 50dvh;
  }
  
  .diner-select-container {
    font-size: 3dvw;
    margin: 0em;
  }

   .meal-preference-form-title {
    font-size: 4.5dvw;
  }

  .diner-selector-input {
    font-size: 2.5vw;
  }

  .preference-meal-checkbox {
    font-size: 3vw;
  }

  .checkbox-title {
    font-size: 4dvw;
    margin-bottom: 1em;
  }

  .meals-checkbox-container {
    margin-bottom: 0em;
  }

  .meal-preference-form-button {
    width: 30%;
    font-size: 3dvw;
    padding: 1em;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .meal-preference-form {
    width: 30dvw;
    height: 50dvh;
  }

  .meal-preference-form-title {
    font-size: 2.5dvw;
  }

  .diner-select-container {
    align-items: center;
    font-size: 1.8dvw;
  }

  .diner-selector-input {
    font-size: 1.4dvw;
  }

  .preference-meal-checkbox {
    font-size: 1.5vw;
  }

  .checkbox-title {
    font-size: 3vw;
    margin-bottom: 1em;
  }

  .meal-preference-form-button {
    width: 10dvw;
    font-size: 1.5dvw;
  }
}
