@use "../../../sass/base";

.pageTitle {
  font-family: base.$header-font;
  color: base.$title-color;
  font-size: 8dvw;
}

.titleContainer {
  padding: 1em;
}

@media screen and (min-width: 1024px) {
  .pageTitle {
    font-size: 3vw;
  }
}
