@use "../../../sass/base";

.pageTitle {
  font-family: base.$title-font;
  color: base.$mealcard-background-color;
  font-size: 6vw;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

@media screen and (min-width: 1024px) {
  .pageTitle {
    font-size: 3vw;
  }
}
