@use "../../../base";

.pageTitle {
  font-family: base.$title-font;
  color: base.$title-color;
  font-size: 7vw;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .pageTitle {
    font-family: base.$title-font;
    color: base.$title-color;
    font-size: 5vw;
  }
}
