@use "../../../base";

.addMealBackdrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100dvh;
  width: 100vw;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.addMealForm {
  position: absolute;
  overflow: auto;
  background-color: base.$container-background-color;
  display: flex;
  border: solid 0.5em base.$toolbar-background-color;
  outline: solid base.$mealcard-background-color;
  border-radius: 1em;
  flex-direction: column;
  justify-content: center;
  animation: grow-appear 0.5s;
  padding: 0.5em;
  width: 70vw;
}

.addMealFieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border: none;
  font-family: base.$title-font;
}

.addMealButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.addMealButton {
  margin: 2em 1em 0em 1em;
  color: base.$mealcard-background-color;
  background-color: base.$toolbar-background-color;
}

.randomMealInput {
  font-size: 2vw;
}

.addMealTitle {
  font-family: base.$title-font;
  font-size: 5vw;
  color: base.$toolbar-background-color;
  text-align: center;
  margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  .addMealForm {
    width: 60dvw;
  }

  .addMealFieldset {
    font-size: 3vw;
    color: base.$toolbar-background-color;
  }

  .addMealInput {
    font-size: 2.5vw;
  }

  .randomMealInput {
    margin-left: 1em;
    font-size: 2vw;
  }

  .addMealButton {
    width: 20vw;
    font-size: 3vw;
  }
}

@media screen and (min-width: 1024px) {
  .addMealForm {
    width: 30dvw;
  }

  .addMealFieldset {
    font-size: 1vw;
    color: base.$toolbar-background-color;
  }

  .addMealInput {
    font-size: 1vw;
  }

  .randomMealInput {
    font-size: 1vw;
  }

  .addMealButton {
    font-size: 1vw;
  }

  .addMealTitle {
    font-size: 1.5vw;
    margin-bottom: 1em;
  }
}

@keyframes grow-appear {
  0% {
    opacity: 0;
    scale: 0;
  }
}
