@use "../../../sass/base";

.add-meal-form-backdrop {
    @include base.backdrop-template;
}

.add-meal-form {
  @include base.form-style-template;
  animation: grow-appear 0.5s;
}

.add-meal-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  font-family: base.$text-font;
}

.add-meal-title {
 @include base.form-title-style;
}

.add-meal-input {
  font-size: 3dvw;
  border: solid 0.2em base.$light-grey-color;
}

.add-meal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-meal-button {
 @include base.form-button-style;
}

.add-meal-error-message {
  color: base.$title-color;
  font-size: 4dvw;
  margin-bottom: 1em; 
  text-align: center;
}


@media screen and (min-width: 768px) {
  .addMealForm {
    width: 60dvw;
  }

  .addMealFieldset {
    font-size: 3vw;
    color: base.$white-color;
  }

  .addMealInput {
    font-size: 2.5vw;
  }

  .randomMealInput {
    margin-left: 1em;
    font-size: 2vw;
  }

  .addMealButton {
    width: 20vw;
    font-size: 3vw;
  }
}

@media screen and (min-width: 1024px) {
  .addMealForm {
    width: 30dvw;
  }

  .addMealFieldset {
    font-size: 1vw;
  }

  .addMealInput {
    font-size: 1vw;
  }

  .randomMealInput {
    font-size: 1vw;
  }

  .addMealButton {
    font-size: 1vw;
  }

  .addMealTitle {
    font-size: 1.5vw;
    margin-bottom: 1em;
  }
}

@keyframes grow-appear {
  0% {
    opacity: 0;
    scale: 0;
  }
}
