@use "../../../sass/base";

.add-meal-form-backdrop {
  @include base.backdrop-template;
}

.add-meal-form {
  @include base.form-style-template;
  animation: grow-appear 0.5s;
}

.add-meal-fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  font-family: base.$text-font;
}

.add-meal-title {
  @include base.form-title-style;
}

.add-meal-input {
  font-size: 3dvw;
  border: solid 0.2em base.$light-grey-color;
}

.add-meal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-meal-button {
  @include base.form-button-style;
}

.add-meal-error-message {
  color: base.$title-color;
  font-family: base.$text-font;
  font-size: 4dvw;
  margin-bottom: 1em;
  text-align: center;
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .add-meal-form {
    width: 50dvw;
  }

  .add-meal-fieldset {
    font-size: 3vw;
  }

  .add-meal-input {
    font-size: 2.5vw;
  }

  .add-meal-input {
    margin-left: 1em;
    font-size: 2vw;
  }

  .add-meal-button {
    font-size: 2.5dvw;
  }

  .add-meal-error-message {
    font-size: 2.5dvw;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .add-meal-form {
    width: 30dvw;
  }

  .add-meal-input {
    font-size: 1.5dvw;
  }

  .add-meal-button {
    font-size: 1vw;
  }

  .add-meal-title {
    font-size: 3dvw;
    margin-bottom: 1em;
  }

  .add-meal-error-message {
    font-size: 1.5dvw;
  }

  .add-meal-button {
    font-size: 1.5dvw;
  }
}

@keyframes grow-appear {
  0% {
    opacity: 0;
    scale: 0;
  }
}
