@use "../../../base";

.filterCheckBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: base.$container-background-color;
  padding: 0em 1em 0em 1em;
}
