@use "../../../base";

.filterCheckBox {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: base.$container-background-color;
  padding: 0.5em;
  border:solid base.$toolbar-background-color;
  border-radius: 1em;
  background-color: base.$button-background-color;
  margin:0em 0.5em 0em 0.5em;
  font-family: base.$text-font;
}
