$font-stack: Helvetica, sans-serif;
$title-font: "Nunito Sans", sans-serif;
$text-font: "Josefin Sans", sans-serif;
$main-color: #474344;
$main-background-color: #FFF1F5;
$container-background-color: #EAEEED;
$title-color: #CE6272; 
$button-background-color: #FED687;

// #CE6272 raspberry
// #EAEED pink/white
// #FED687 yellow
// #EEC0C3 pink
// #FFF1F5 background

