$font-stack: Helvetica, sans-serif;
$title-font: "Nunito Sans", sans-serif;
$text-font: "Josefin Sans", sans-serif;
$main-color: #474344;
$main-background-color: #FFF1F5;
$container-background-color: #EAEEED;
$title-color:  #CE6272; 
$button-background-color:#FED687;
$button-color: #EAEEED;

$toolbar-background-color: #AF5B73;
// #CE6272 raspberry
// #EAEEED pink/white
// #FED687 yellow
// #EEC0C3 pink
// #AF5B73 pink shadow
// #FFF1F5 background

