@use 'base';

:root {
  
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5fr 6fr;
  min-width: 320px;
  height: 100svh;
  background-color: base.$main-background-color;
  color:  base.$main-color;
}

.headerContainer {
  grid-column: 1/3;
  grid-row: 1;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 0.5em;
  font-size: 1vw;
  font-weight: 500;
  font-family: base.$text-font;

  background-color: base.$button-background-color;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
