@use "../../../base";

.mealFilterControls {
  grid-row: 3;
  grid-column: 1;
  width: 100vw;
}

.filterFormBackDrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.filterForm {
  position: absolute;
  height: 60vh;
  width: 85vw;
  border: solid 1em base.$toolbar-background-color;
  border-radius: 1em;
  display: grid;
  grid-template-rows: 11fr 1fr;
  z-index: 4;
  background-color: base.$container-background-color;
}

.hidden {
  display: none;
}

.filterOption {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  justify-content: space-evenly;
  overflow: scroll;
  padding: 1em 0.2em 1em 0.2em;
}

.filterOptionsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: scroll;
  
}

.filterToggleContainer {
  display: flex;
  background-color: base.$toolbar-background-color;
  justify-content: end;
  padding: 0.5em;
  border-bottom: solid 0.2em black;

}

.filterTitleContainer {
  align-content: center;
  padding-left: 1em;
}

.filterTitle {
  font-family: base.$title-font;
  color: base.$title-color;
  font-size: 5vw;
}

.toggleButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: base.$mealcard-background-color;
  border: none;
  background-color: base.$toolbar-background-color;
  padding: 0.1em;
  font-size: 2.5vw;
}

@media screen and (min-width: 1024px) {
  .toggleButton {
    font-size: 2vw;
  }

  .filterToggleContainer {
    padding: 0.5em;
  }
}
