@use "../../../base";

.mealFilterControls{
  grid-row:3;
  grid-column: 1;
  max-width: 100vw;
}

.controlsContainer {
  position: absolute;
  top:0;
  display: grid;
  z-index:4;
  background-color: base.$container-background-color; 
  height:100%;
}

.hidden {
   display: none;
 }

.filterOptionsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  overflow: scroll;
}

.filterToggleContainer{
  display: flex;
  background-color: base.$mealcard-background-color;
  justify-content: end;
  padding:1em;
}

.toggleButton{
  color:black;
}
