@use "../../../sass/base";

.formBackDrop {
  @include base.backdrop-template;
}

.randomMealContainer {
  @include base.form-style-template;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1em;
  width: 60vw;
  min-height: 15vh;
  animation: grow-appear 0.5s;
  font-family: base.$title-font;
}

.randomMealFormHeader{
  font-family: base.$header-font;
  color: base.$title-color;
  font-size: 5dvw;
  text-align: center;
  margin-bottom: 0.5em;
}

.numberOfMealsInput {
  font-size: 3.8vw;
  margin-left: 0.5em;
  border-radius: 0.2em;
}

.inputContainer {
  margin: 0em 0em 1em 0em;
}

.randomMealFormButtons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.randomMealFormButton {
  @include base.form-button-style;
}

@keyframes grow-appear {
  0% {
    opacity: 0;
    scale: 0;
  }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .randomMealContainer {
    font-size: 3dvw;
    padding: 1em;
    width: 55dvw;
  }

  .randomMealFormButton {
    font-size: 3dvw;
  }


.randomMealFormButton {
  padding: 1em ;
  width: 40%;
}

}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .randomMealFormHeader{
  font-size: 3dvw;
}
  
  .randomMealContainer {
    font-size: 2dvw;
    width: 25dvw;
    max-height: 50dvh;
  }

  .numberOfMealsInput {
    margin-left: 1em;
    font-size: 1.5dvw;
  }

  .randomMealFormButton {
    font-size: 1.5dvw;
  }

  .inputContainer {
    font-size: 1.8dvw;
  }
}
