@use "../../../base";

.formBackDrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0%;
  top: 0%;
  height: 100vh;
  width: 100vw;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.randomMealContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
  background-color: base.$container-background-color;
  width: 60vw;
  min-height: 15vh;
  border: solid 0.5em base.$toolbar-background-color;
  outline: solid base.$mealcard-background-color;
  border-radius: 1em;
  animation: grow-appear 0.5s;
  font-family: base.$title-font;
}

.randomMealInput {
  font-size: 3.8vw;
}

.inputContainer {
  margin: 0em 0em 1em 0em;
}

.randomMealFormButtons {
  display: flex;
  justify-content: center;
}

.randomMealFormButton {
  display: flex;
  justify-content: center;
  margin: 2em 1em 0em 1em;
  color: base.$mealcard-background-color;
  background-color: base.$toolbar-background-color;
}

@keyframes grow-appear {
  0% {
    opacity: 0;
    scale: 0;
  }
}

@media screen and (min-width: 768px) {
  .randomMealContainer {
    font-size: 3vw;
  }

  .randomMealInput {
    margin-left: 1em;
    font-size: 3vw;
  }

  .randomMealFormButton {
    width: 20vw;
    font-size: 3vw;
  }
}

@media screen and (min-width: 1024px) {
  .randomMealContainer {
    font-size: 2vw;
  }

  .randomMealInput {
    margin-left: 1em;
    font-size: 2vw;
  }

  .randomMealFormButton {
    width: 20vw;
    font-size: 2vw;
  }
}
