@use "../../base";

.mealDisplayContainer {
  grid-row: 4;
  background-color: base.$container-background-color;
  padding: 0.5em;
  margin-bottom: 0.2em;
  overflow: scroll;
}

.mealDisplay {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mealCard {
  display: flex;
  justify-content: space-between;
  border-radius: 4em;
  list-style: none;
  text-align: center;
  background-color: base.$lolly-stick-color;
  padding: 1em 0em 0.5em 0em;
  font-family: base.$text-font;
  font-size: 3.5vw;
  border-bottom: solid base.$toolbar-background-color;
}

.mealTitle {
  display: flex;
  font-size: 4vw;
  margin: 0em 0em 0em 1em;
  font-family: base.$title-font;
  color: base.$title-color;
}

.typesContainer {
  margin: 0em 1em 0em 1em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
  .mealCard {
    font-size: 2vw;
  }
  .mealTitle {
    font-size: 2.5vw;
  }

  .mealDisplay {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}

@media screen and (min-width: 1024px) {
  .mealCard {
    font-size: 1.5vw;
  }
  .mealTitle {
    font-size: 2vw;
  }

  .mealDisplay {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
}
