@use "../../sass/base";

.meal-display-container {
  grid-row: 4;
  background-color: white;
  padding: 0.5em;
  overflow: scroll;
  -webkit-overflow-scrolling: scroll !important;
  box-shadow: inset 0px 0px 0.5em 0px rgb(234, 221, 221);
}

.meal-display-container::-webkit-scrollbar {
  width: 1em;
}

.meal-display-container::-webkit-scrollbar:horizontal {
  display: none;
}

.meal-display-container::-webkit-scrollbar-button {
  display:block;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100%;
}

.meal-display-container::-webkit-scrollbar-button:vertical:start:decrement {
  width: 22px;
  background-position: center;
  background-image: url("../../assets/svg/caret-up-fill.svg");
}

.meal-display-container::-webkit-scrollbar-button:vertical:start:increment {
  display: none;
}

.meal-display-container::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}

.meal-display-container::-webkit-scrollbar-button:vertical:end:increment {
  width: 22px;
  background-position: center;
  background-image: url("../../assets/svg/caret-down-fill.svg");
}

.meal-display {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin:0em;
}

.meal-card {
  display: flex;
  justify-content: space-between;
  border-radius: 4em;
  list-style: none;
  text-align: center;
  padding: 1.5em 0em 1.5em 0em;
  font-family: base.$text-font;
  background-color: base.$mealcard-background-color;
  box-shadow: inset 0px 0px 0.5em 0px rgb(226, 161, 161);

}

.meal-title {
  display: flex;
  font-size: 3.5dvw;
  padding-left: 1em;
  font-family: base.$title-font;
  color: base.$meal-title-color;
  line-height: 0;
}

.types-container {
  margin: 0em 1em 0em 1em;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 3dvw;
  line-height: 0;
  
}

@media screen and (min-width: 768px) and (orientation: portrait) {
  .meal-title {
    font-size: 1.5dvw;
  }

  .meal-display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .types-container {
    font-size: 1.5dvw;
  }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
  .meal-display-container {
    grid-row: 3;
    grid-column: 2;
    background-color: white;
    padding: 0.5em;
    height: inherit;
  }

  .meal-title {
    font-size: 1.2vw;
  }

  .meal-display {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }

  .types-container {
    font-size: 1.5vw;
  }
}
